{% extends 'base.html.twig' %}

{% block title %}TypeTransaction index{% endblock %}

{% block body %}
    <h1>TypeTransaction index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id_type</th>
                <th>Libelle</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_transaction in type_transactions %}
            <tr>
                <td>{{ type_transaction.idType }}</td>
                <td>{{ type_transaction.libelle }}</td>
                <td>{{ type_transaction.description }}</td>
                <td>
                    <a href="{{ path('app_type_transaction_show', {'id_type': type_transaction.idType}) }}">show</a>
                    <a href="{{ path('app_type_transaction_edit', {'id_type': type_transaction.idType}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_transaction_new') }}">Create new</a>
{% endblock %}
