{% extends 'base.html.twig' %}

{% block title %}Personne{% endblock %}

{% block body %}
    <h1>Personne</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_personne</th>
                <td>{{ personne.idPersonne }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ personne.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ personne.prenom }}</td>
            </tr>
            <tr>
                <th>Civilite</th>
                <td>{{ personne.civilite }}</td>
            </tr>
            <tr>
                <th>Numero_voie</th>
                <td>{{ personne.numeroVoie }}</td>
            </tr>
            <tr>
                <th>Rue</th>
                <td>{{ personne.rue }}</td>
            </tr>
            <tr>
                <th>Complement_adresse</th>
                <td>{{ personne.complementAdresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ personne.ville }}</td>
            </tr>
            <tr>
                <th>Code_postal</th>
                <td>{{ personne.codePostal }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ personne.pays }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ personne.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ personne.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_personne_index') }}">back to list</a>

    <a href="{{ path('app_personne_edit', {'id_personne': personne.id_personne}) }}">edit</a>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
