{{ form_start(form) }}
    {{ form_row(form.libelle) }}
    {{ form_row(form.date_debut) }}
    {{ form_row(form.date_fin) }}
    
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
